{% extends "base.html" %}

{% block content %}
<div id="login-form">
  <form action="{% url 'login' %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
    {% for field in form %}
      <br><label>{{ field.label }}</label>
      {% if field.errors %}
        {{ field.errors }}
      {% endif %}
      {{ field }}
      {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" /><br>
    <input id="login-button" class="btn btn-primary" type="submit" value="login"/>
  </form>
  {% if form.errors %}
    {% for error in form.non_field_errors %}
      <span id="failed-login">{{ error }}</span>
    {% endfor %}
  {% endif %}
</div>

{% endblock %}
