{% extends "base.html" %}

{% block content %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Verified</th>
          <th>Citation</th>
          <th>Opinion</th>
          <th>Memento</th>
        </tr>
      </thead>
      <tbody>
        {% for citation in citations %}
          <tr>
            <td>
              <a class='anchor' name='{{ citation.id }}'></a>
              {% if citation.verify_date %} 
                {% if WEBCITE and citation.webcite %}
                  <a href="{{ citation.webcite }}" target="_blank" title="Live capture coutesy of webcitation.org">
                    {{ citation.verify_date|date:"Y.m.d" }}
                  </a>
                {% else %}
                  {{ citation.verify_date|date:"Y.m.d" }}
                {% endif %}
              {% else %}
                <a class="btn btn-primary" href="/citations/verify/{{ citation.id  }}" role="button">Verify</a>
              {% endif %}
            </td>

            <td>
              {% if citation.validated %}
                {% if citation.status != 'u' %}
                  <a href="{{ citation.validated  }}" target="_blank">{{ citation.validated }}</a>
                {% else %}
                  {{ citation.validated  }}
                {% endif %}
              {% else %}
                {% if citation.status != 'u' %}
                    <a class="{{ citation.status }}" href="{{ citation.scraped  }}" target="_blank">{{ citation.scraped }}</a>
                {% else %}
                  {{ citation.scraped }}
                {% endif %}
              {% endif %}
            </td>

            <td><a href="{{ citation.opinion.pdf_url  }}" target="_blank">{{ citation.opinion.name }}</a></td>

            <td id="memento-cell">
              {% if citation.memento %}
                <a href="{{ citation.memento }}" target="_blank" title="Combined captures courtesey of mementoweb.org">
                  <img src="/static/img/memento-logo.png" id="memento-logo" />
                </a>
              {% endif %}
            </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
