{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Status</th>
          <th>Citation</th>
          <th>Opinion</th>
          <th>Library of Congress</th>
          <th>Internet Archive</th>
        </tr>
      </thead>
      <tbody>
        {% for citation in citations %}
        <tr>
          <td>
            {% if citation.status == 'a' %}
              {% if citation.validated == '0' %}
              <a href="{{ citation.scraped  }}">available</a>
              {% else %}
              <a href="{{ citation.validated  }}">available</a>
              {% endif %}
            {% elif citation.status == 'r' %}
              {% if citation.validated == '0' %}
              <a href="{{ citation.scraped  }}">redirected</a>
              {% else %}
              <a href="{{ citation.validated  }}">redirected</a>
              {% endif %}
            {% elif citation.status == 'u' %}
            unavailable
            {% endif %}
          </td>

          <td>
            {% if citation.validated == '0' %}
            {{ citation.scraped }}
            {% else %}
            {{ citation.validated }}
            {% endif %}
          </td>

          <td>{{ citation.opinion.name }}</td>

          <td>
            {% if citation.archived_lc %}
              {% if citation.validated == '0' %}
              <a href="{{ citation.WAYBACK_LC }}{{ citation.scraped }}">archive</a>
              {% else %}
              <a href="{{ citation.WAYBACK_LC }}{{ citation.validated }}">archive</a>
              {% endif %}
            {% endif %}
          </td>

          <td>
            {% if citation.archived_ia %}
              {% if citation.validated == '0' %}
              <a href="{{ citation.WAYBACK_IA }}{{ citation.scraped }}">archive</a>
              {% else %}
              <a href="{{ citation.WAYBACK_IA }}{{ citation.validated }}">archive</a>
              {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
