.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

input#id_validated {
    width: 500px;
}

.patient,
.load-wheel {
    font-style: italic;
    font-size:10px;
}
