{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <br>
    <table class="table table-striped">
       <thead>
         <tr>
           <th>Opinion</th>
           <th>Justice</th>
           <th>Published</th>
           <th>Updated</th>
           <th>Web Citations</th>
         </tr>
       </thead>
       <tbody>
       {% for opinion in opinions %}
       <tr>
         <td><a href="{{ opinion.pdf_url }}">{{ opinion.name }}</a></td>
         <td>{{ opinion.justice.name }}</td>
         <td>{{ opinion.published }}</td>
         <td>{% if opinion.updated %}{{ opinion.updated_date }}{% endif %}</td>
         <td>
           {% if opinion.citation_count %}
             <a href="/opinions/citations/{{ opinion.id  }}">{{ opinion.citation_count }}</a>
           {% else %}
             {{ opinion.citation_count }}
           {% endif %}
         </td>
       </tr>
       {% endfor %}
      </tbody>
    </table>
{% endblock %}
