{% extends "base.html" %}

{% block content %}
    <br>
    <h1>Winnesburg, Ohio<h1>
    <h2>Sherwood Anderson</h2>
    <h3>THE TALES AND THE PERSONS</h3>
    <p>The Book of the Grotesque</p>
    <p>HANDS--concerning WING BIDDLEBAUM.</p>
    <p>PAPER PILLS--concerning DOCTOR REEFY.</p>
    <p>MOTHER--concerning ELIZABETH WILLARD.</p>
    <p>THE PHILOSOPHER--concerning DOCTOR PARCIVAL.</p>
    <p>NOBODY KNOWS--concerning LOUISE TRUNNION.</p>
    <p>GODLINESS (PARTS I AND II)--concerning JESSE BENTLY.</p>
    <p>SURRENDER (PART III)--concerning LOUISE BENTLY.</p>
    <p>TERROR (PART IV)--concerning DAVID HARDY.</p>
    <p>A MAN OF IDEAS--concerning JOE WELLING.</p>
    <p>ADVENTURE-concerning ALICE HINDMAN.</p>
    <p>RESPECTABILITY--concerning WASH WILLIAMS.</p>
    <p>THE THINKER--concerning SETH RICHMOND.</p>
    <p>TANDY--concerning TANDY HARD.</p>
    <p>THE STRENGTH OF GOD--concerning THE REVERENT CURTIS HARTMAN.</p>
    <p>THE TEACHER--concerning KATE SWIFT.</p>
    <p>LONLINESS--concerning ENOCH ROBBINSON.</p>
    <p>AN AWAKENING--concerning BELLE CARPENTER.</p>
    <p>"QUEER"--concerning ELMER COWLEY.</p>
    <p>THE UNTOLD LIE--concerning BAY PEARSON.</p>
    <p>DRINK--concerning TOM FOSTER.</p>
    <p>DEATH--concerning DOCTOR REEFY and ELIZABETH WILLARD.</p>
    <p>SOPHISTICATION--concerning HELEN WHITE.</p>
    <p>DEPARTURE--concerning GEORGE WILLARD.</p>
{% endblock %}
