{% extends "base.html" %}

{% block content %}
    <div id="citation_distribution" class="chart"></div>
    <div id="overview">
      <div id="rot_distribution" class="chart"></div>
      <h2>The Second Coming</h2>
      <p>Turning and turning in the widening gyre
      The falcon cannot hear the falconer;
      Things fall apart; the centre cannot hold;
      Mere anarchy is loosed upon the world,
      The blood-dimmed tide is loosed, and everywhere
      The ceremony of innocence is drowned;
      The best lack all conviction, while the worst
      Are full of passionate intensity.</p>

      <p>Surely some revelation is at hand;
      Surely the Second Coming is at hand.
      The Second Coming! Hardly are those words out
      When a vast image out of Spiritus Mundi
      Troubles my sight: a waste of desert sand;
      A shape with lion body and the head of a man,
      A gaze blank and pitiless as the sun,
      Is moving its slow thighs, while all about it
      Wind shadows of the indignant desert birds.</p>

      <p>The darkness drops again but now I know
      That twenty centuries of stony sleep
      Were vexed to nightmare by a rocking cradle,
      And what rough beast, its hour come round at last,
      Slouches towards Bethlehem to be born? </p>

      <p><i>-William Butler Yeats</i></p>
    </div>

    <!--Load Highcharts-->
    <script src="/static/js/highcharts.js"></script>
    <script>
        // Build Citation Distribution Chart
        $('#citation_distribution').highcharts({
            title: {
                text: '',
            },
            chart: {
                type: 'line',
                height: 400,
            },
            credits: {
                enabled: false,
            },
            xAxis: {
                type: 'datetime',
                min: {{ earliest }},
                max: {{ latest }},
                title: {
                    text: '',
                },
                plotLines: [{
                    color: '#58FA82',
                    dashStyle: 'dot',
                    value: {{ nyt_publication }},
                    width: 2,
                    label: {
                        text: 'NYT Publication',
                    },
                }],
            },
            yAxis: {
                title: {
                    text: ''
                },
            },
            series: [{
                name: 'Web Citations',
                data: {{ citation_distribution }},
            }]
        });

        // Build Link Rot Chart
        $('#rot_distribution').highcharts({
            title: {
                text: 'Citation<br>Link Rot',
                align: 'center',
                verticalAlign: 'middle',
                y: 50,
            },
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false,
                height: 400,
                width:400,
            },
            credits: {
                enabled: false,
            },
            plotOptions: {
                 pie: {
                     startAngle: -90,
                     endAngle: 90,
                     center: ['50%', '75%'],
                     dataLabels: {
                         enabled: true,
                         distance: -50,
                         style: {
                             fontWeight: 'bold',
                             color: 'white',
                             textShadow: '0px 1px 2px black',
                         },
                     },
                 }
            },
            series: [{
                type: 'pie',
                name: 'Link Rot Distribution',
                innerSize: '50%',
                data: [
                  ['available', {{ available }}],
                  ['unavailable', {{ unavailable }}],
                  {% if redirected %}
                  ['redirected', {{ redirected }}],
                  {% endif %}
                ],
            }],

        });
    </script>
{% endblock %}
