{% extends "base.html" %}

{% block content %}
    <!--Load highchart-->
    <div id={{ chartID|safe }} class="chart" style="height: 100px;"></div>
    <script>
      var chart_id = {{ chartID|safe }}
      var series = {{ series|safe }}
      var title = {{ title|safe }}
      var xAxis = {{ xAxis|safe }}
      var yAxis = {{ yAxis|safe }}
      var chart = {{ chart|safe }}
    </script>
    <script src="/static/js/highcharts.js"></script>
    <script src="/static/js/chart.js"></script>

    <!--Summary Info-->
    <div class="overview">
      <h2>Examining web citations in United States Supreme Court Opinions Over Time</h2>
      <p>Turning and turning in the widening gyre
      The falcon cannot hear the falconer;
      Things fall apart; the centre cannot hold;
      Mere anarchy is loosed upon the world,
      The blood-dimmed tide is loosed, and everywhere
      The ceremony of innocence is drowned;
      The best lack all conviction, while the worst
      Are full of passionate intensity.</p>

      <p>Surely some revelation is at hand;
      Surely the Second Coming is at hand.
      The Second Coming! Hardly are those words out
      When a vast image out of Spiritus Mundi
      Troubles my sight: a waste of desert sand;
      A shape with lion body and the head of a man,
      A gaze blank and pitiless as the sun,
      Is moving its slow thighs, while all about it
      Wind shadows of the indignant desert birds.</p>

      <p>The darkness drops again but now I know
      That twenty centuries of stony sleep
      Were vexed to nightmare by a rocking cradle,
      And what rough beast, its hour come round at last,
      Slouches towards Bethlehem to be born? </p>
{% endblock %}
