{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <br>
    <table class="table table-striped">
       <thead>
         <tr>
           <th>Justice</th>
           <th>Published Opinions</th>
           <th>Total Web Citations</th>
           <th>Avg. Web Citations Per Opinion</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Justice A</td>
           <td>100</td>
           <td>20</td>
           <td>.2</td>
           <td>.2</td>
        </tr>
        <tr>
           <td>Justice A</td>
           <td>100</td>
           <td>20</td>
           <td>.2</td>
           <td>.2</td>
        </tr>
        <tr>
           <td>Justice A</td>
           <td>100</td>
           <td>20</td>
           <td>.2</td>
           <td>.2</td>
        </tr>
      </tbody>
    </table>
{% endblock %}
